[package]
name = "wasm-video-filters"
version = "0.1.0"
authors = ["Matt Harrison <hi@matt-harrison.com>"]

[lib]
crate-type = ["cdylib"]

[dependencies]

[profile.release]
codegen-units = 1
incremental = false
lto = true
opt-level = "z"
