/* My CSS is awful and I don't care */

html, body {
  height: 100%;
}

body {
    background: radial-gradient(ellipse at center, #5a46ee 0%,#4435b2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding-top: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 46px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
}

#video {
    width: 1px;
    height: 1px;
}

.video h2 {
    font-family: 'Bungee Shade', cursive;
    font-size: 34px;
    color: #4435b2;
    text-align: center;
    font-weight: normal;
    position: absolute;
    top: 140px;
    left: 106px;
    z-index: 0;
}

.container {
    width: 620px;
    margin: auto;
    flex: 1 0 auto;
}

.content > div.top {
    padding-bottom: 10px;
}

div.top:after {
  content: "";
  display: table;
  clear: both;
}

.container .video {
    position: relative;
    box-shadow: 6px 6px 0px 0px rgba(0,0,0, 0.5);
    width: 400px;
    height: 400px;
    background: #FFFFFF;
    float: left;
    padding: 10px 10px 50px;
    position: relative;
}

.video #canvas {
    z-index: 5;
    position: absolute;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0, 0.5);
}

.container .video #fps {
    position: absolute;
    top: 369px;
    right: 10px;
    font-size: 13px;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    z-index: 10;
}

.container .controls {
    float: left;
    width: 70px;
    padding: 15px;
}

.controls.left {
    text-align: right;
}

.controls.left .switch-material.switch-light > span {
    left: 20px;
}

.control-set-left {
    float: left;
    margin-right: 30px;
}

.control-set-right {
    float: left;
}

.content > div.bottom {
    margin-top: 15px;
}

.switch-option {
    margin: 0px 0px 15px;
}

.switch-option span {
    margin-top: 5px;
    outline: none;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.5) inset;
}

.switch-option span a {
    outline: none!important;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.5);
}

#btn-download {
    font-family: 'Bungee Shade', cursive;
    border-radius: 28px;
    color: #4435b2;
    font-size: 24px;
    background: #FFFFFF;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    box-shadow: 0px 6px 1px 0px rgba(0,0,0, 0.3);
    width: 140px;
    display:block;
    margin: auto;
    text-align: center;
}

#btn-download:hover {
  text-decoration: none;
  position:relative;
  top: 1px;
}

#btn-download:active {
  text-decoration: none;
  position:relative;
  top: 3px;
}

footer {
    left: 5px;
    padding-bottom: 10px;
    color:#FFFFFF;
    text-align: center;
    font-size: 12px;
    flex-shrink: 0;
}

footer a {
    color:#FFFFFF;
}

#template, #capture {
    display: none;
}

.flash {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
}

@-webkit-keyframes flash {
  0% {  opacity: .3;  }
  100% { opacity: 1; }
}
@keyframes flash {
  0% { opacity: .3; }
  100% { opacity: 1;  }
}